pandas
xgboost
scikit-learn==1.3.1
flask
numpy
pyyaml
onnxruntime
fastapi
uvicorn
kaggle
pyreadr
httpx
aiohttp
python-multipart

asyncpg>=0.29.0
sportsdataverse
pyarrow
requests
nfl_data_py
nflreadpy
polars
basketball_reference_web_scraper
nba_api
sbrscrape
pynascar
joblib
lightgbm
ncaa-bbStats
google-genai
shap
mlflow
pytest
APScheduler>=3.10.4
openpyxl
beautifulsoup4
pywebpush
firebase-admin
pytz
tqdm
regex
